extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let newspaperid = toShow._id
    - let name = toShow.name
    - let language = toShow.language
    - let price = toShow.price
    - let actionid = "/resource/newspapers/" + newspaperid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='newspaperAttr mr-3') Newspaper ID is:
        div #{newspaperid}
      div.row
        div(class='newspaperAttr mr-3') Newspaper Type is:
        div #{name}
      div.row
        div(class='newspaperAttr mr-3') Newspaper Size is:
        div #{language}
      div.row
        div(class='newspaperAttr mr-3') Newspaper Cost is:
        div #{price}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the newspaper collection
      window.location.href='/newspapers'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/newspapers'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
