extends layout

block content
  h1(id='dettitle')= title

  if (toShow == null)
    h2(class='null') No instance to display
  else
    - let newspaperid = toShow._id
    - let name = toShow.name
    - let language = toShow.language
    - let price = toShow.price
    div(class='cont')
      div.row
        div(class='newspaperAttr mr-3') Newspaper ID is:
        div(class='result') #{newspaperid}
      div.row
        div(class='newspaperAttr mr-3') Newspaper Name is:
        div(class='result') #{name}
      div.row
        div(class='newspaperAttr mr-3') Newspaper Language is:
        div(class='result') #{language}
      div.row
        div(class='newspaperAttr mr-3') Newspaper Price is:
        div(class='result') #{price}
