extends layout

block content
  h1= title
  
  div(class="container-fluid")
        div(class="row")
            -
                let newspapers = results
            each np in newspapers 
                - let destination = `dispatch(\"/newspapers/update?id=${np._id}\")`
                div(class="row-sm-2" class='m-1') Newspaper #{np.name}(#{np.language}) is #{np.price}
                    button(class="btn-primary ml-1", onclick=destination) Update
            script.
                function dispatch(path){
                    window.location.href = path
                }